<h2>Login (Testuser: tr@me.ch Passwort: password)</h2>

<form class="form-horizontal" ng-submit="vm.login()">
    <div class="form-group">
        <label for="email" class="control-label col-md-2">Email address</label>
        <div class="col-md-2">
            <input id="email" type="email" ng-model="vm.email" class="form-control" placeholder="Enter email"  />
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="control-label col-md-2">Password</label>
        <div class="col-md-2">
            <input type="password" ng-model="vm.password" class="form-control" placeholder="Password" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary col-xs-12 col-md-offset-2 col-md-1">Login</button>
</form>