<form ng-submit="vm.login()">
    <h2>Login</h2>
    <h3>Testuser: tr@me.ch Passwort: password</h3>

    <div class="form-group">
        <label>Email address</label>
        <input type="email" ng-model="vm.email" class="form-control" placeholder="Enter email"  />
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" ng-model="vm.password" class="form-control" placeholder="Password" />
    </div>
    <button type="submit" class="btn btn-default btn-block">Login</button>
</form>