.off-canvas-wrap {
    height: 100%;
}

div .inner-wrap {
    height: 100%;
}

.session-box {
}

.session-box-content {
    border: 2px solid white;
    min-height: 100px;

}

.main-section {
    overflow: scroll;
}

.session-box a {
    color: white;
    font-weight: bolder;
    text-align: center;
}