.off-canvas-wrap {
    height: 100%;
}

div .inner-wrap {
    height: 100%;
}

.session-box {
}

.session-box-content {
    margin-right: 5px;
    margin-bottom: 5px;
}

.main-section {
    overflow: scroll;
}
