<div class="row" style="background-image: url('timeline/schedule-background.png')">
    <div class="large-1 small-1 columns">
        <ul class="schedule">
            <li ng-repeat="time in vm.times">{{ time }}</li>
        </ul>
    </div>


    <div class="large-2 small-4 columns" ng-repeat="room in vm.rooms">
        <ul class="sessionLane">
            <li ng-repeat="session in vm.sessionsByRoomViewModel[room.id]" style="height: {{session.heightPx}}px;">{{ session.title }}</li>
        </ul>
    </div>

</div>


